@using Web_QM.Models.ViewModels
@model ExamDetailView
@{
	ViewData["Title"] = Model.exam.ExamName;
}

<style>
	.header {
		display: none;
	}

	.main-content {
		margin: 0 0 100px;
	}

	footer {
		display: none;
	}
</style>

<div class="container mx-auto">
	<h2 class="text-center text-3xl md:text-4xl font-extrabold text-primary mb-4">@Model.exam.ExamName</h2>
	<div class="info">
		<div class="form-group">
			<input type="hidden" id="employeeCode" name="employeeCode" value="@ViewBag.EmplCode">
			<input type="hidden" id="employeeName" name="employeeName" value="@ViewBag.EmplName">
			<h4>Thông tin nhân viên: @ViewBag.EmplCode - @ViewBag.EmplName - Bộ phận @ViewBag.EmplDepartment</h4>
			<i class="fw-bolder"> Chọn vào đáp án đúng nhất</i>
		</div>
	</div>

	<form>
		@for (int i = 0; i < Model.questions.Count; i++)
		{
			var item = Model.questions[i];
			<div>
				<div class="question">
					<h4 class="text-xl md:text-xl font-extrabold text-wrap">
						Câu @(i + 1)/@Model.questions.Count:
						<div class="text-center">
							@Html.Raw(item.QuestionText)
						</div>
					</h4>
				</div>
				<div class="answer">
					<div>
						<span>(A)</span>
						<input type="radio" id="@(i+1)optionA" name="@(i+1)quizOption" value="@(i+1).A" class="answer-input">
						<label for="@(i+1)optionA" class="answer-label option-a text-wrap">@Html.Raw(item.OptionA)</label>
					</div>
					<div>
						<span>(B)</span>
						<input type="radio" id="@(i+1)optionB" name="@(i+1)quizOption" value="@(i+1).B" class="answer-input">
						<label for="@(i+1)optionB" class="answer-label option-b text-wrap">@Html.Raw(item.OptionB)</label>
					</div>
					<div>
						<span>(C)</span>
						<input type="radio" id="@(i+1)optionC" name="@(i+1)quizOption" value="@(i+1).C" class="answer-input">
						<label for="@(i+1)optionC" class="answer-label option-c text-wrap">@Html.Raw(item.OptionC)</label>
					</div>
					<div>
						<span>(D)</span>
						<input type="radio" id="@(i+1)optionD" name="@(i+1)quizOption" value="@(i+1).D" class="answer-input">
						<label for="@(i+1)optionD" class="answer-label option-d text-wrap">@Html.Raw(item.OptionD)</label>
					</div>
				</div>
			</div>
		}
	</form>
	<div class="essay-question fw-bold fs-4 border-top p-3">
		<h4>Phần câu hỏi tự luận (trả lời trên giấy, làm xong mới được nộp bài)</h4>
		@Html.Raw(Model.exam.EssayQuestion)
	</div>
</div>

<div class="btn-action">
	<div class="btn-action-item" id="btn-exit">Thoát làm bài</div>
	<div class="timer-container">
		<span id="timer">00:00</span>
	</div>
	<div class="btn-action-item" id="btn-submit">Nộp bài</div>
</div>

<div id="calculator-icon" title="Mở Máy Tính">
	<i class="fas fa-calculator"></i>
</div>

<div id="calculator-mini">
	<div id="calculator-display">0</div>
	<div class="calculator-keys">
		<button class="key clear-key" data-key="clear">C</button>
		<button class="key operator" data-key="/">/</button>
		<button class="key operator" data-key="*">*</button>
		<button class="key operator" data-key="-">-</button>

		<button class="key" data-key="7">7</button>
		<button class="key" data-key="8">8</button>
		<button class="key" data-key="9">9</button>
		<button class="key operator" data-key="+">+</button>

		<button class="key" data-key="4">4</button>
		<button class="key" data-key="5">5</button>
		<button class="key" data-key="6">6</button>

		<button class="key" data-key="1">1</button>
		<button class="key" data-key="2">2</button>
		<button class="key" data-key="3">3</button>

		<button class="key" data-key="0">0</button>
		<button class="key" data-key=".">.</button>
		<button class="key equal-key" data-key="=">=</button>
	</div>
</div>

@section Scripts {
	<script>
		var durationMinute = @Model.exam.DurationMinute
		var timeLimitInSeconds = durationMinute*60;

		var timerElement = document.getElementById('timer');

		var remainingTime = timeLimitInSeconds;
		var countdown;

		var violationCount = 0;
		const maxViolations = 3;
		var isViolating = false;

		var hasAnswered = false;

		// Hàm cập nhật hiển thị timer
		function updateTimer() {
			var minutes = Math.floor(remainingTime / 60);
			var seconds = remainingTime % 60;

			var formattedMinutes = minutes < 10 ? `0${minutes}` : minutes;
			var formattedSeconds = seconds < 10 ? `0${seconds}` : seconds;

			timerElement.textContent = `${formattedMinutes}:${formattedSeconds}`;
		}

		// Hàm xử lý khi hết giờ
		function handleTimeUp() {
			clearInterval(countdown);
			timerElement.textContent = 'Hết giờ';
			timerElement.classList.add('expired');

			Swal.fire({
				title: 'Hết giờ!',
				text: 'Yêu cầu nộp bài.',
				icon: 'warning'
			}).then((result) => {
				if (result.isConfirmed) {
				}
			})
		}

		// Hàm bắt đầu bộ đếm
		function startTimer() {
			updateTimer();

			countdown = setInterval(() => {
				remainingTime--;

				if (remainingTime === 60){
					Swal.fire({
						title: 'Còn 1 phút!',
						text: 'Kiểm tra lại bài làm và nhanh chóng nộp bài.',
						icon: 'warning'
					})
				}

				if (remainingTime <= 0) {
					handleTimeUp();
				} else {
					updateTimer();
				}
			}, 1000);
		}

		// Hàm xử lý vi phạm gian lận
		function handleViolation() {
			if (isViolating) {
				return;
			}

			isViolating = true;
			violationCount++;
			let remainingViolations = maxViolations - violationCount;

			if (violationCount >= maxViolations) {
				Swal.fire({
					title: 'Cảnh báo nghiêm trọng!',
					text: 'Bạn đã vi phạm quá số lần cho phép. Bài thi sẽ tự động nộp sau 5 giây!',
					icon: 'error',
					allowOutsideClick: false,
					allowEscapeKey: false,
					showConfirmButton: false
				});
				setTimeout(() => {
					if(hasAnswered){
						submit()
					} else {
						window.location.href = '@Url.Action("Index", "TestingSystem")';
					}
				}, 5000);
				return;
			}

			Swal.fire({
				title: 'Cảnh báo!',
				text: `Hệ thống phát hiện bạn đã rời khỏi màn hình. Vui lòng quay lại ngay!`,
				icon: 'warning',
				showConfirmButton: true,
				confirmButtonText: 'Đã hiểu',
				allowOutsideClick: false,
				allowEscapeKey: false
			}).then(() => {
				isViolating = false;
			});
		}

		document.querySelectorAll('.answer-input').forEach(input => {
			input.addEventListener('change', () => {
				hasAnswered = true;
			});
		});

		// Hàm xử lý khi người dùng rời khỏi trang
		window.addEventListener('beforeunload', function (e) {
			if (hasAnswered) {
				const confirmationMessage = 'Bạn có chắc chắn muốn rời khỏi trang không? Bài làm của bạn có thể sẽ không được lưu.';
				e.returnValue = confirmationMessage;
				return confirmationMessage;
			}
		});

		// Hàm lưu dữ liệu
		function submit() {
			document.removeEventListener('visibilitychange', handleVisibilityChange);
			window.removeEventListener('blur', handleBlur);

			if (document.fullscreenElement) {
				document.exitFullscreen();
			}

			const employeeName = document.getElementById('employeeName').value;
			const employeeCode = document.getElementById('employeeCode').value;

			if (!employeeName || employeeName.trim() === '' || employeeCode.trim() === '') {
				Swal.fire({
					title: 'Có lỗi xảy ra!',
					text: 'Vui lòng nhập đầy đủ tên và mã nhân viên',
					icon: 'error'
				});
				return;
			}

			const specialCharsRegex = /[^\p{L}0-9 ]/u;
			if (specialCharsRegex.test(employeeName) || specialCharsRegex.test(employeeCode)) {
				Swal.fire({
					title: 'Có lỗi xảy ra!',
					text: 'Tên và mã nhân viên không hợp lệ',
					icon: 'error'
				});
				return;
			}

			const userAnswers = [];
			const allAnswers = document.querySelectorAll('.answer-input');

			allAnswers.forEach(input => {
				if (input.checked) {
					userAnswers.push(input.value);
				}
			});

			if (userAnswers.length === 0) {
				Swal.fire({
					title: 'Lỗi!',
					text: 'Bạn chưa chọn đáp án nào.',
					icon: 'error'
				});
				return;
			}

			const listAnswers = userAnswers.join('-');
			const dataToSend = {
				ExamId: @Model.exam.Id,
				EmployeeName: employeeName,
				EmployeeCode: employeeCode,
				ListAnswer: listAnswers
			}
			console.log(dataToSend)

			fetch('@Url.Action("SaveAnswer", "TestingSystem")', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(dataToSend)
			})
			.then(response => {
				if (!response.ok) {
					throw new Error('Lỗi mạng hoặc server!');
				}
				return response.json();
			})
			.then(data => {
				console.log('Đang nộp bài:...')
				if(data.status){
					console.log('Nộp bài thành công!')
					console.log(data.message)
					Swal.fire({
						title: 'Nộp bài thành công!',
						text: 'Cảm ơn bạn đã hoàn thành bài thi.',
						icon: 'success'
					}).then((result) => {
						if (result.isConfirmed) {
							hasAnswered = false
							window.location.href = '@Url.Action("Index", "TestingSystem")';
						}
					})
				}
			})
			.catch((error) => {
				console.error('Lỗi:', error);
				Swal.fire({
					title: 'Có lỗi xảy ra!',
					text: 'Vui lòng kiểm tra lại kết nối.',
					icon: 'error'
				});
			});
		}

		function handleVisibilityChange() {
			if (document.visibilityState === 'hidden') {
				handleViolation();
			}
		}

		function handleBlur() {
			handleViolation();
		}

		document.getElementById('btn-exit').addEventListener('click', function() {
			Swal.fire({
				title: 'Bạn có chắc không?',
				text: "Bạn sẽ thoát khỏi bài làm!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#4CAF50',
				cancelButtonColor: '#f44336',
				confirmButtonText: 'Có, thoát!',
				cancelButtonText: 'Hủy',
				reverseButtons: true
			}).then((result) => {
				if (result.isConfirmed) {
					if (document.fullscreenElement) {
						document.exitFullscreen();
					}
					window.location.href = '@Url.Action("Index", "testingsystem")';
				}
			});
		});

		document.getElementById('btn-submit').addEventListener('click', function() {
			Swal.fire({
				title: 'Xác nhận nộp bài',
				text: "Đảm bảo bạn đã trả lời toàn bộ câu hỏi!",
				icon: 'success',
				showCancelButton: true,
				confirmButtonColor: '#4CAF50',
				cancelButtonColor: '#f44336',
				confirmButtonText: 'Nộp bài!',
				cancelButtonText: 'Hủy',
				reverseButtons: true
			}).then((result) => {
				if (result.isConfirmed) {
					submit();
				}
			});
		});

		document.addEventListener('DOMContentLoaded', () => {
			document.documentElement.requestFullscreen().catch(err => {
				console.warn('Không thể tự động chuyển sang chế độ toàn màn hình: ' + err);
			});
			startTimer();
			document.addEventListener('visibilitychange', handleVisibilityChange);
			window.addEventListener('blur', handleBlur);
		});

		const calculator = document.getElementById('calculator-mini');
		 const icon = document.getElementById('calculator-icon');
		 const display = document.getElementById('calculator-display');
		 const keys = document.querySelector('.calculator-keys');

		 let displayValue = '0';
		 let firstOperand = null;
		 let operator = null;
		 let waitingForSecondOperand = false;

		 // Cập nhật màn hình
		 function updateDisplay() {
			 display.textContent = displayValue;
		 }

		 // Xử lý đầu vào là số
		 function inputDigit(digit) {
			 if (waitingForSecondOperand === true) {
				 displayValue = digit;
				 waitingForSecondOperand = false;
			 } else {
				 displayValue = displayValue === '0' ? digit : displayValue + digit;
			 }
			 updateDisplay();
		 }

		 function inputDecimal() {
			 if (waitingForSecondOperand === true) {
				 displayValue = '0.';
				 waitingForSecondOperand = false;
				 updateDisplay();
				 return;
			 }

			 if (!displayValue.includes('.')) {
				 displayValue += '.';
			 }
			 updateDisplay();
		 }

		 function handleOperator(nextOperator) {
			 const inputValue = parseFloat(displayValue);

			 if (operator && waitingForSecondOperand) {
				 operator = nextOperator;
				 return;
			 }

			 if (firstOperand === null) {
				 firstOperand = inputValue;
			 } else if (operator) {
				 const result = performCalculation[operator](firstOperand, inputValue);

				 displayValue = String(result);
				 firstOperand = result;
			 }

			 waitingForSecondOperand = true;
			 operator = nextOperator;
			 updateDisplay();
		 }

		 const performCalculation = {
			 '/': (firstOperand, secondOperand) => firstOperand / secondOperand,
			 '*': (firstOperand, secondOperand) => firstOperand * secondOperand,
			 '+': (firstOperand, secondOperand) => firstOperand + secondOperand,
			 '-': (firstOperand, secondOperand) => firstOperand - secondOperand,
			 '=': (firstOperand, secondOperand) => secondOperand
		 };

		 function resetCalculator() {
			 displayValue = '0';
			 firstOperand = null;
			 operator = null;
			 waitingForSecondOperand = false;
			 updateDisplay();
		 }

		 keys.addEventListener('click', (event) => {
			 const { target } = event;
			 const key = target.dataset.key;

			 if (!target.matches('button')) {
				 return;
			 }

			 if (key === 'clear') {
				 resetCalculator();
				 return;
			 }

			 if (['/', '*', '+', '-', '='].includes(key)) {
				 handleOperator(key);
				 return;
			 }

			 if (key === '.') {
				 inputDecimal();
				 return;
			 }

			 inputDigit(key);
		 });

		 icon.addEventListener('click', () => {
			 calculator.style.display = (calculator.style.display === 'block' ? 'none' : 'block');
		 });

		 updateDisplay();
	</script>
}
